<!DOCTYPE html>
<html lang="en">
{{#resume}}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {{#if basics.name}}
    {{basics.name}}
    {{else}}
    {{basics.firstName}} {{basics.lastName}}
    {{/if}}
  </title>
  <link href="https://bootswatch.com/5/lumen/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-2">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <h1>
              {{#if basics.name}}
              {{basics.name}}
              {{else}}
              {{basics.firstName}} {{basics.lastName}}
              {{/if}}
            </h1>
            <h2>{{basics.location.city}}</h2>
          </div>
          <div class="col-md-6 col-sm-12">
            <img class="rounded-circle float-end"
              src="{{basics.image}}" alt="Avatar"
              width="100" height="100" style="margin-top: 20px;">
          </div>
        </div>
        <hr style="color: #ccc; height: 4px;"/>
        <section class="row">
          <header class="col-md-3">
            <h3>About</h3>
          </header>
          <div class="col-md-9">
            {{#if basics.summary}}
            <p>{{basics.summary}}</p>
            {{/if}}
            {{#if basics.phone}}
            <strong>Phone:</strong>
            <a href="tel:{{basics.phone}}">{{basics.phone}}</a><br/>
            {{/if}}
            {{#if basics.email}}
            <strong>Email:</strong>
            <a href="mailto:{{basics.email}}">{{basics.email}}</a><br/>
            {{/if}}
            {{#each basics.profiles}}
            <strong>{{network}}:</strong>
            <a href="{{url}}">{{username}}</a><br/>
            {{/each}}
          </div>
        </section>
        {{#if work}}
        <section class="row">
          <header class="col-md-3">
            <h3>Work Experience</h3>
          </header>
          <div class="col-md-9">
            {{#each work}}
            <h3>
            {{#if name}}
              {{name}}
            {{else}}
              {{company}}
            {{/if}}
            </h3>
            <strong>{{position}}</strong>
            <p>{{startDateYear}} - {{endDateYear}}</p>
            <p>{{summary}}</p>
            {{#if highlights}}
            <ul>
              {{#each highlights}}
              <li>{{this}}</li>
              {{/each}}
            </ul>
            {{/if}}
            <hr/>
            {{/each}}
          </div>
        </section>
        {{/if}}
        {{#if education}}
        <section class="row">
          <header class="col-md-3">
            <h3>Education</h3>
          </header>
          <div class="col-md-9">
            <div class="skills">
              {{#each education}}
              <h3>{{institution}}</h3>
              <h4>{{educationDetail}}</h4>
              <p>{{startDateYear}} - {{endDateYear}}</p>
              <p>{{summary}}</p>
              {{#if highlights}}
              <ul>
                {{#each highlights}}
                <li>{{this}}</li>
                {{/each}}
              </ul>
              {{/if}}
              <hr/>
              {{/each}}
            </div>
          </div>
        </section>
        {{/if}}
        {{#if skills}}
        <section class="row">
          <header class="col-md-3">
            <h3>Skills</h3>
          </header>
          <div class="col-md-9">
            <div class="row-fluid skills">
              {{#each skills}}
              <ul class="col-md-12">
                <li>
                  <h4>{{name}}</h4>
                  {{#if keywords}}
                  <ul>
                    {{#each keywords}}
                    <li>{{this}}</li>
                    {{/each}}
                  </ul>
                  {{/if}}
                </li>
              </ul>
              {{/each}}
            </div>
          </div>
        </section>
        {{/if}}
        {{#if references}}
        <section class="row">
          <header class="col-md-3">
            <h3>References</h3>
          </header>
          <div class="col-md-9">
            <div class="row-fluid skills">
              {{#each references}}
              <p>{{reference}} - <strong>{{name}}</strong></p>
              {{/each}}
            </div>
          </div>
        </section>
        {{/if}}
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>
{{/resume}}
</html>
