<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{basics.firstName}} {{basics.lastName}}</title>
    <link href="http://bootswatch.com/lumen/bootstrap.min.css" rel="stylesheet" />
   <style>
    </style>

  
  </head>
  <body>
    <div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="row">
        <div class="col-md-6 col-sm-12">
        <h1>{{basics.name}}<h1>

        <h2>{{basics.location.city}}</h2>
        </div>
        <div class="col-md-6 col-sm-12">
        <img class="media-object img-circle pull-right" data-src="holder.js/64x64" alt="64x64" src="{{basics.gravatar}}" style="width: 100px; height: 100px; margin-top: 20px;">

        </div>
        </div>
      <hr style="color: #ccc; height: 4px;" />
      <section class="row">
        <header class="col-md-3">
          <h3>About</h3>
        </header>
        <div class="col-md-9">
        <p>{{basics.summary}}</p>
        {{#basics.phone}}
        <strong>Phone:</strong> {{basics.phone}} <br />
        {{/basics.phone}}
        {{#basics.email}}
        <strong>Email:</strong> {{basics.email}}<br />
        {{/basics.email}}
        {{#profiles.twitter}}
        <strong>Twitter:</strong> <a href="http://twitter.com/{{.}}">{{.}}</a><br />
        {{/profiles.twitter}}
        {{#profiles.github}}
        <strong>Github:</strong> <a href="http://github.com/{{.}}">{{.}}</a><br />

        {{/profiles.github}}
        </div>
      </section>
      {{#work.length}}
      <section class="row">
        <header class="col-md-3">
          <h3>Work Experience</h3>
        </header>
        <div class="col-md-9">
          <div class="skills">
            {{#work}}
            <h3>{{company}}</h3>
            <strong>{{position}}</strong>
            <p>{{startDateYear}} - {{endDateYear}}</p>
            <p>{{summary}}</p>
            <ul>
              {{#highlights}}
              <li>{{.}}</li>
              {{/highlights}}
            </ul>
            <hr />{{/work}}
          </div>
        </div>
      </section>
      {{/work.length}} 

      {{#education.length}}
      <section class="row">
        <header class="col-md-3">
          <h3>Education</h3>
        </header>
        <div class="col-md-9">
          <div class="skills">
            {{#education}}
            <h3>{{institution}}</h3>
            <h4>{{educationDetail}}</h4>
            <p>{{startDateYear}} - {{endDateYear}}</p>
            <p>{{summary}}</p>
            <ul>
              {{#highlights}}
              <li>{{.}}</li>
              {{/highlights}}
            </ul>
            <hr />
            {{/education}}
          </div>
        </div>
      </section>
      {{/education.length}} 
      {{#skills.length}}
      <section class="row">
        <header class="col-md-3">
          <h3>Skills</h3>
        </header>
        <div class="col-md-9">
          <div class="row-fluid skills">
            {{#skills}}
            <ul class="col-md-6">

              <li>
                <h4>{{name}}</h4>
                <ul>
                  {{#keywords}}
                  <li>{{.}}</li>
                  {{/keywords}}
                </ul>
              </li>
            </ul>
            {{/skills}}
          </div>
        </div>
      </section>
      {{/skills.length}}
      {{#references.length}}
      <section class="row">
        <header class="col-md-3">
          <h3>References</h3>
        </header>
        <div class="col-md-9">
          <div class="row-fluid skills">
            {{#references}}

            <p>{{reference}} -
              <strong>{{name}}</strong>
            </p>
            {{/references}}
          </div>
        </div>
      </section>
      {{/references.length}}

    </div>
  </div>
</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
  </body>
</html>
